<article>
    <p>Dive #:
        <%= dives.id %>
    </p>
</article>

<article>
    <p>Date:
        <%= dives.date %>
    </p>
</article>

<article>
    <p>Max depth:
        <%= dives.max_depth %>
    </p>
</article>

<article>
    <p>Avg depth:
        <%= dives.avg_depth %>
    </p>
</article>

<article>
    <p>Dive duration:
        <%= dives.duration %>
    </p>
</article>

<article>
    <p>Dive buddy:
        <%= dives.dive_buddy %>
    </p>
</article>

<article>
    <p>Gear config:
        <%= dives.gear_config %>
    </p>
</article>