<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <section class="main_section">
        <aside>
            <%- include('./partials/nav') %>
        </aside>
        <main>
            <section id="page_header">
                <h2>Dive History</h2>
                <p id="dive_count"> #
                    <%= dives.length %> Dives </p>
            </section>
            <section class="main_dive_section">
                <% dives.forEach(dive => { %>
                    <section class="dives_sections">
                        <%- include('./partials/eachDive', {dives : dive}) %>
                            <a href="pages/details/<%= dive.id %>">Edit</a>
                    </section>
                    <% }) %>
            </section>
        </main>
    </section>
    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>