<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <section class="main_section">
        <aside>
            <%- include('../partials/nav') %>
        </aside>
        <main>
            <section>
                <%- include('../partials/newDiveForm') %>
            </section>

        </main>
    </section>
    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>